.card-wrapper {
    width: calc(50% - 27px);
    display: inline-block;
    border-radius: 2px;
    border: 1px solid rgba(68, 68, 68, 0.1);
    margin-right: 50px;
    margin-bottom: 60px;
    @media only screen and (max-width:1024px){
        width: 100%;
        margin-right: 0px;
    }
}

.card-college-img-wrapper {
    position: relative;
    img {
        display: inline-block;
        width: 100%;
        min-height: 208px;
    }
    .card-black-layer {
        position: absolute;
        background-color: rgba(0,0,0,0.7);
        top: 0;
        bottom: 4px;
        left: 0;
        right: 0;
    }
}

.card-college-img-bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    .tag {
        background-color: white;
        font-size: 13px;
        color: black;
        padding: 8px 14px;
        border-radius: 16px;
        display: inline-block;
        margin-right: 7px;
        font-family: mediumfont;
        line-height: 18px;
        &:first-of-type {
            margin-left: 14px;
            margin-bottom: 15px;
        }
        &:last-of-type {
            margin-right: 0px;
        }
    }
    .college-rank {
        font-size: 12px;
        line-height: 13px;
        color: white;
        margin: 0px;
        font-family: mediumfont;
        display: inline-block;
        padding-right: 14px;
        padding-top: 10px;
        float: right;
    }
}

.odd-img {
    margin-right: 0px; 
}

.card-college-img-rating {
    top: 30px;
    position: absolute;
    right: 13px;
    background-color: #f5a626;
    border-radius: 4px;
    padding: 7.5px 8px;
    color: white;
    text-align: center;
    margin: 0px;
    font-family: mediumfont;
    p {
        margin: 0px;
        font-size: 13px;
        line-height: 18px;
    }
    .rating b {
        font-family: boldfont;
        font-size: 18px;
    }
}

.card-college-img-promoted {
    min-width: 132px;
    position: absolute;
    top: -16.5px;
    right: 0px;
    font-family: mediumfont;
    color: white;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-bottom: 17px solid #68a7ff;
    border-top: 17px solid #68a7ff;
    display: inline-block;
    i {
        font-style: normal;
        position: absolute;
        right: 30px;
        bottom: -9px;
    }
}

.college-rating {
    display: inline-block;
    span {
        margin-right: 1px;
        &:last-of-type {
            margin-right: 0px;
        }
    }
    .not-rated {
        content: "\2605";
        color: rgba(0,0,0,0.3);
    }
}

.college-name-wrapper {
    margin-bottom: 10px;
    margin-top: 12px;
    margin-left: 17px;
    p {
        margin: 0px;
        margin-right: 10px;
        font-family: boldfont;
        line-height: 18px;
        font-size: 18px;
        display: inline-block;
    }
}

.college-nearest-place-wrapper {
    margin-bottom: 17px;
    margin-left: 17px;
    p {
        margin: 0px;
        font-size: 13px;
        line-height: 18px;
        font-family: mediumfont;
        color: #444444;
        border-left: 2px solid #adadad; 
        padding-right: 6px;
        padding-left: 6px;
        display: inline-block;
        &:first-of-type {
            padding-left: 0px;
            border-left: none;
        }
        &:last-of-type {
            color: #adadad; 
        }
    }
}

.college-famous-nearest-place-wrapper {
    font-size: 13px;
    line-height: 18px;
    margin-left: 17px;
    margin-bottom: 9px;
    color: #37b396;
    font-family: boldfont;
    p {
        display: inline-block;
        margin: 0px;
        color: #adadad;
    }
    b {
        color: #444444;
    }
}

.college-bottom-left-wrapper {
    display: inline-block;
}

.college-offer-text {
    padding-left: 17px;
    background-color: #ccf5e7;
    color: #444444;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    padding-top: 8px;
    padding-bottom: 9px;
    font-family: boldfont;
    margin-bottom: 10px;
    padding-right: 20px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    p {
        margin: 0px;
        display: inline-block;
    }
    .login-text {
        color: #1999d2;
        cursor: pointer;
    }
    .price-color {
        color: #4bb89e;
    }
}

.college-original-fees-wrapper {
    margin-bottom: 1px;
    margin-top: 3px;
    del {
        color: #444444;
        font-size: 11px;
        font-family: mediumfont;
    }
    .discount {
        position: relative;
        min-width: 29px;
        min-height: 14px;
        background-color: #dd1c26;
        font-size: 11px;
        font-family: mediumfont;
        color: white;
        display: inline-block;
        margin-right: 20px;
        padding-right: 4px;
        .tl {
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            left: 0;
            border-top: 15px solid white;
            border-right: 15px solid transparent;
        }
        .bl {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 0;
            border-bottom: 15px solid white;
            border-right: 15px solid transparent;
        }
        i {
            background-color: white;
            width: 5px;
            height: 4px;
            margin-right: 2px;
            border-radius: 50%;
            margin-bottom: 2px;
            display: inline-block;
            margin-left: 14px;
        }
    }
}

.college-bottom-right-wrapper {
    display: inline-block;
    width: calc(100% - 405px);
    vertical-align: top;
    text-align: right;
    .discount-fees {
        margin: 0px;
        font-family: boldfont;
        color: #dd1c26;
        font-size: 26px;
        margin-right: 15px;
        display: inline-block;
    }
    .fee-cycle {
        font-size: 11px;
        margin: 0px;
        margin-right: 15px;
        color: #444444;
        display: inline-block;
        font-family: mediumfont;
    }
}

.college-amenties-wrapper {
    display: inline-block;
    margin-right: 20px;
    margin-top: 4px;
    float: right;
    span {
        display: inline-block;
        p {
            margin: 0px;
            color: #37b396;
            font-size: 13px;
            line-height: 18px;
            font-family: boldfont;
            display: inline-block; 
        }
        i {
            width: 4px;
            margin-left: 7px;
            margin-right: 7px;
            margin-bottom: 2px;
            height: 4px;
            display: inline-block;
            background-color: #37b396;
            border-radius: 50%;
        }
        &:last-of-type {
            i {
                display: none;
            }
        }
    }
}
