#page-wrapper {
    padding: 50px 50px 80px;
}

.page-title {
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    font-family: mediumfont;
    margin: 0px;
    margin-bottom: 70px;
}

.college-list-wrapper {
    
}
